<div class="container mt-4">
    <div class="header d-flex justify-content-between align-items-end">
        <h1 class="fw-bolder">Productes</h1>
        <button (click)="addProduct()" class="btn btn-primary"
        style="height: 50%;">Afegir Producte</button>
    </div>
    <hr>

    <div class="products" *ngIf="products.length > 0; else noProducts">
        <table mat-table [dataSource]="products" class="mat-elevation-z8">
        
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.categoryId | category | async }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Accions </th>
                <td mat-cell *matCellDef="let element" style="width: 200px;">

                    <div class="buttons d-flex gap-3">
                        <button class="btn btn-warning" type="button"
                        (click)="editProduct(element)">Editar</button>
                        <button class="btn btn-danger" type="button"
                        (click)="deleteProduct(element)">Eliminar</button>
                    </div>

                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <ng-template #noProducts>
        <h3>No s'han trobat productes...</h3>
    </ng-template>
</div>
